<!DOCTYPE html>
<html style="padding: 0; margin: 0;">
    <head>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>
    <body style="padding: 0; margin: 0; max-height: 100vh;">
        <svg viewBox="0 0 1000 1000" style="background: black; max-height: 100vh; max-width: 100vh;">
            <defs>
                <filter id="blurMe" x="-50%" y="-50%" width="200%" height="200%">
                    <feTurbulence type="fractalNoise" seed="1" baseFrequency=".25" numOctaves="2" result="n1"/>

                    <feGaussianBlur stdDeviation="2"/>

                    <feDisplacementMap in="SourceGraphic" in2="n1" xChannelSelector="R" yChannelSelector="G" scale="60" result="d1">
                        <animate attributeName="scale" begin=".5s" values="60;0;60" dur="1s" repeatCount="indefinite"/>
                    </feDisplacementMap>

                    <feDisplacementMap in="d1" in2="n1" xChannelSelector="G" yChannelSelector="B" scale="60">
                        <animate attributeName="scale" begin=".5s" values="0;60;0" dur="1s" repeatCount="indefinite"/>
                    </feDisplacementMap>

                    <feGaussianBlur stdDeviation="5"/>

                    <feComponentTransfer>
                        <feFuncA type="discrete" tableValues="0 0 .25 .25 .5 .5 1" />
                    </feComponentTransfer>
                </filter>

                <filter id="lighting" x="-100" y="-100" width="200" height="200">
                    <feOffset id="lightTrans" result="translated" dx="500" dy="500"/>

                    <feOffset id="lastLight" result="out0" dx="0" dy="0"/>

                    <feColorMatrix type="saturate" values="5"/>
                    <feGaussianBlur stdDeviation="3"/>

                    <feComposite in2="translated" operator="arithmetic" k1="2.75" k2="0" k3=".25" k4="0"/>
                    <feOffset result="final" id="lightTrans2" dx="-500" dy="-500"/>
                    <feComponentTransfer>
                        <feFuncA type="table" tableValues="0 0 .16 .37 .58 .79 1" />
                    </feComponentTransfer>
                </filter>

                <filter id="thruster" x="-50%" y="-50%" width="200%" height="200%">
                    <feSpecularLighting in="SourceAlpha" id="left" result="left" specularConstant=".01" lighting-color="blue">
                        <animate attributeName="specularExponent" values="1;2;1" dur="2s" repeatCount="indefinite"/>
                        <feSpotLight x="-6" y="-1" z="6" limitingConeAngle="27" pointsAtX="-18" pointsAtY="-1" pointsAtZ="-11"/>
                    </feSpecularLighting>
                    <feSpecularLighting in="SourceAlpha" id="right" result="right" specularConstant=".01" lighting-color="blue">
                        <animate attributeName="specularExponent" values="1;2;1" dur="2s" repeatCount="indefinite"/>
                        <feSpotLight x="6" y="-1" z="6" limitingConeAngle="27" pointsAtX="18" pointsAtY="-1" pointsAtZ="-11"/>
                    </feSpecularLighting>
                    <feSpecularLighting in="SourceAlpha" result="back" specularConstant=".01" lighting-color="blue">
                        <animate attributeName="specularExponent" values="1;4;1" dur="2s" repeatCount="indefinite"/>
                        <animate attributeName="specularConstant" id="backStart" begin="indefinite" to="2" dur=".5s" fill="freeze"/>
                        <animate attributeName="specularConstant" id="backOff" begin="indefinite" to=".01" dur=".5s" fill="freeze"/>
                        <feSpotLight x="0" y="14" z="5" limitingConeAngle="45" pointsAtX="0" pointsAtY="22" pointsAtZ="-11">
                            <animate attributeName="pointsAtX" values="0;.25;0;-.25;0" dur="250ms" repeatCount="indefinite"/>
                        </feSpotLight>
                    </feSpecularLighting>
                    <feComposite in="left" in2="right" result="side" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" />
                    <feComposite in="back" in2="side" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" />
                    <feGaussianBlur stdDeviation="3"/>
                    <feComposite in="SourceGraphic" operator="arithmetic" k1="1" k2="1" k3="1" k4="0" />
                </filter>

                <linearGradient id="shipGradient">
                    <stop offset="0" stop-color="#888" stop-opacity=".75"/>
                    <stop offset="40%" stop-color="#888" stop-opacity=".99"/>
                    <stop offset="50%" stop-color="#888" stop-opacity="1"/>
                    <stop offset="60%" stop-color="#888" stop-opacity=".99"/>
                    <stop offset="100%" stop-color="#888" stop-opacity=".75"/>
                </linearGradient>
            </defs>

            <g transform="translate(500 500)" filter="url(#lighting)">
                <g id="ship" filter="url(#thruster)">
                    <path d="M -15 20 Q -14 8 -8 8 Q -16 -4 0 -20 Q 16 -4 8 8 Q 14 8 15 20 Q 0 10 -15 20" fill="url(#shipGradient)"/>
                </g>
            </g>

            <g id="stars">
                <circle cx="500" cy="500" r="2000" fill="none" stroke="red" stroke-width="20" id="boundary"/>
                <circle cx="500" cy="500" r="20" fill="green" stroke="blue" stroke-width="10" id="checkpoint"/>
            </g>

            <g id="arrow">
                <polygon points="-15,0 0,-20 15,0 5,0 5,20 -5,20 -5,0" fill="blue"/>
            </g>

            <text id="spedometer" fill="white" x="10" y="15"></text>
            <text id="score" fill="white" x="10" y="25"></text>
        </svg>
        <%= htmlWebpackPlugin.tags.bodyTags %>
    </body>
</html>
